form {
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1C140D;
}

form label {
    color: #1C140D;
    font-weight: bold;
    margin-bottom: 8px;
}

form input[type="text"],
form textarea,
form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    color: #333;
    background-color: #F9F9F9;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

form textarea {
    resize: vertical;
}

form input[type="text"]:hover,
form textarea:hover,
form select:hover,
form input[type="text"]:focus,
form textarea:focus,
form select:focus {
    border-color: #333333;
    box-shadow: 0 0 5px rgba(203, 232, 107, 0.5);
    outline: none;
}

form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #FFFFFF;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%231C140D" d="M2 0L0 2h4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
}
