form {
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1C140D;
}

form label {
    display: block;
    color: #1C140D;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 14px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1C140D;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #CBE86B;
}
