{% extends 'main_layout.html' %}

{% block head %}
  <style>
    button{
      display: inline-block !important;
      width: calc(50% - 2px) !important;
    }
      .button-container {
          display: flex;
          gap: 10px; 
      }
  </style>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'CSS/form.css') }}">
{% endblock %}

{% block content %}
  <br><br><br>

  <form action="/types/add" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" value="{{ val }}" required> 
    <div class="button-container">
      <button class="shake_btn">Delete</button>
      <button class="apply_btn">Edit</button>
    </div>
  </form>
{% endblock %}


