{% extends 'main_layout.html' %}

{% block head %}
  <style>
    button{
      width: 250px;
    }
  </style>
{% endblock %}

{% block content %}
  <br><br><br>
  <a href="/expense/sheet/day"><button class="fade_btn">This Day</button></a>
  <br><br>
  <a href="/expense/sheet/week"><button class="fade_btn">This Week</button></a>
  <br><br>
  <a href="/expense/sheet/month"><button class="fade_btn">This Month</button></a>
  <br><br>
  <a href="/expense/sheet/year"><button class="fade_btn">This Year</button></a>
  <br><br>
  <a href="/expense/sheet/all"><button class="fade_btn">All Time</button></a>
{% endblock %}


