<!DOCTYPE html>
<html>
  <head>
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Web Finance</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'CSS/main_css.css') }}">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="header_tab">
      <img class="logo" src="{{ url_for('static', filename='assets/th.png') }}" onclick="goToHomePage()" style="cursor: pointer;"/>
      <ul class="nav">
        <li><a href="/close">Logout</a></li>
      </ul>
    </div>
    <div class="main_content"></div>
  </body>
  <script>
    function goToHomePage() {
      window.location.href = '/';
    }
  </script>
</html>
